/* Style the video: 100% width and height to cover the entire window
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }*/
  
  /* Style the button used to pause/play the video 
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  } */
  .cards .text {
    padding: 20px;
    font-family: barlow condensed;
    line-height: 50px;
  }
  
  .cards .card-box {
    display: flex;
    flex-flow: row;
    background-color: #fde02f;
  font-size: 18px;
    font-family: roboto;
    align-utems: center;
    justify-content: center;
    text-align: center;
  }
  
  .cards .time {
    flex: 1;
  }
  
  .cards .location {
    flex: 2;
  }
  
  .cards .cost {
    color: #4cafad;
    font-size: 20px;
  } */
  /* .Zoom-Img {
    Float: Left;
    Position: Relative;
    Width: 100%;
    Height: 320px;
    Overflow: Hidden;
  }
  
  .Zoom-Img .Img-Card {
    Position: Absolute;
    Overflow: Hidden;
  }
  
  .Img-Card Img {
   /* -Webkit-Transition: 0.8s Ease; */
    Transition: 0.8s Ease;
  }
  
  .Card:hover .Zoom-Img Img {
   /* -Webkit-Transform: Scale(1.1); */
    Transform: Scale(1.1);
  } */